<nav>
    <ul id="slide-out" class="side-nav">
        <li><a href="#pageDashboard" class="nav-link">Dashboard</a></li>
        <li><a href="#pageScan" class="nav-link">Scan</a></li>
        <li><a href="#pageSearch" class="nav-link">Search</a></li>
        <li><a href="#pageBins" class="nav-link">Bins</a></li>
        <li><a href="#pageProducts" class="nav-link">Products</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <span>Etsy Inventory</span>
</nav>