<script type="text/javascript" src="js/lib/phonegap.min.js"></script>
<script type="text/javascript" src="js/lib/display.min.js"></script>
<script type="text/javascript" src="js/lib/server.min.js"></script>

<script type="text/javascript" src="js/pages.min.js"></script>
<script type="text/javascript" src="js/pages/dashboard.min.js"></script>
<script type="text/javascript" src="js/pages/scan.min.js"></script>

<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript">
    app.initialize();
</script>