<div class="navbar-fixed">
    <ul id="refreshDropdown" class="dropdown-content">
        <li><a id="refreshRecent" href="#!">Recent</a></li>
        <li><a id="refreshAll" href="#!">All</a></li>
        <!--<li class="divider"></li>-->
        <!--<li><a id="lastUpdatedText" href="#!">Last Refresh: Never</a></li>-->
    </ul>

    <div id="modalSettings" class="modal bottom-sheet" style="display: block; opacity: 0; bottom: -100%;">
        <div class="modal-content">
            <h4><i class="mdi-action-settings left"></i> Settings</h4>
            <div class="row">
                <div class="row">
                    <div class="col s12">
                        <div id="settingsControls">
                            <a class="waves-effect waves-light btn-flat modal-close">Close<i class="mdi-hardware-keyboard-arrow-down right"></i></a>
                            <a id="btnSaveSettings" class="waves-effect waves-light btn light-blue white-text">Save Settings<i class="mdi-content-save right"></i></a>
                        </div>
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#tabSettingsShop">Shop Settings</a></li>
                            <li class="tab col s3"><a  href="#tabSettingsDatabase">Database Settings</a></li>
                        </ul>
                    </div>
                    <div id="tabSettingsShop" class="col s12 settings-page">
                        <div class="row">
                            <div class="input-field col s4">
                                <div class="row">
                                    <div class="col s12">
                                        <input placeholder="Enter Etsy Shop Namesettings-page" id="shop_name" type="text" class="validate">
                                        <label for="shop_name">Shop Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="switch">
                                            <label>
                                                Disabled
                                                <input type="checkbox">
                                                <span class="lever"></span>
                                                Enabled
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s2">
                                <p>Auto Update Listings</p>
                                <div class="switch">
                                    <label>
                                        Disabled
                                        <input type="checkbox">
                                        <span class="lever"></span>
                                        Enabled
                                    </label>
                                </div>
                                <input placeholder="10" id="autoUpdateInterval" type="text" class="validate">
                                <label for="autoUpdateInterval">Update Interval (Minutes)</label>
                            </div>
                        </div>
                    </div>
                    <div id="tabSettingsDatabase" class="col s12 settings-page">
                        <a class="waves-effect waves-light btn red white-text"><i class="mdi-action-delete left"></i>Clear Products Table</a>
                        <a class="waves-effect waves-light btn red white-text"><i class="mdi-action-delete left"></i>Clear Bins Table</a>
                        <a class="waves-effect waves-light btn red white-text"><i class="mdi-action-delete left"></i>Clear Sold Items Table</a>
                        <a class="waves-effect waves-light btn red white-text"><i class="mdi-action-delete left"></i>Reset Settings</a>
                        <a id="btnDeleteDatabase" class="waves-effect waves-light btn red white-text"><i class="mdi-action-delete left"></i>Clear Everything</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDeleteDatabase" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Confirm Database Delete</h4>
            <p class="flow-text">
                Are you sure you want to delete the application database?
                This will reset <strong>ALL</strong> of your product and bins data.
                This is effectively the same as starting over from scratch.
                <strong>This action cannot be undone!</strong>
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action waves-effect waves-blue btn-flat red white-text" id="confirmDeleteBin">Delete</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat ">Cancel</a>
        </div>
    </div>

    <nav class="grey darken-3">
        <div class="nav-wrapper">
            <ul>
                <li class="active"><a href="#pageDashboard" class="nav-link"><i class="mdi-action-dashboard tiny right"></i> Dashboard</a></li>
                <li><a href="#pageNewProducts" class="nav-link"><i class="mdi-av-new-releases right"></i> New Products</a></li>
                <li><a href="#pageBins" class="nav-link"><i class="mdi-content-inbox right"></i> Bins</a></li>
                <li><a href="#pageProducts" class="nav-link"><i class="mdi-action-info right"></i> All Products</a></li>
                <li class="nav-refresh"><a class="dropdown-button" href="#!" data-activates="refreshDropdown"> Refresh Listings<i class="mdi-notification-sync left"></i></a></li>
            </ul>

            <div id="refreshOverlay">
                <div class="preloader-wrapper active" id="syncIcon">
                    <div class="spinner-layer spinner-yellow-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
            </div>
            <p id="settingsButton"><a href="#modalSettings" class="modal-trigger"><i class="mdi-action-settings right"></i> Settings</a></p>
        </div>
    </nav>
</div>