<div class="navbar-fixed">
    <ul id="refreshDropdown" class="dropdown-content">
        <li><a id="refreshRecent" href="#!">Recent</a></li>
        <li><a id="refreshAll" href="#!">All</a></li>
        <!--<li class="divider"></li>-->
        <!--<li><a id="lastUpdatedText" href="#!">Last Refresh: Never</a></li>-->
    </ul>

    <nav class="grey darken-3">
        <div class="nav-wrapper">
            <ul>
                <li class="active"><a href="#pageDashboard" class="nav-link"><i class="mdi-action-dashboard tiny right"></i> Dashboard</a></li>
                <li><a href="#pageNewProducts" class="nav-link"><i class="mdi-av-new-releases right"></i> New Products</a></li>
                <li><a href="#pageBins" class="nav-link"><i class="mdi-content-inbox right"></i> Bins</a></li>
                <li><a href="#pageProducts" class="nav-link"><i class="mdi-action-info right"></i> All Products</a></li>
                <li class="nav-refresh"><a class="dropdown-button" href="#!" data-activates="refreshDropdown"> Refresh Listings<i class="mdi-notification-sync left"></i></a></li>
                <li><a href="#pageHelp" class="nav-link"><i class="mdi-action-help right"></i> Help</a></li>
            </ul>

            <div id="refreshOverlay">
                <div class="preloader-wrapper active" id="syncIcon">
                    <div class="spinner-layer spinner-yellow-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
            </div>
            <p id="settingsButton"><a href="#modalSettings" class="modal-trigger"><i class="mdi-action-settings right"></i> Settings</a></p>
        </div>
    </nav>
</div>