<div id="modalDeleteDatabase" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Confirm Database Delete</h4>
        <p class="flow-text">
            Are you sure you want to delete the application database?
            This will reset <strong>ALL</strong> of your product and bins data.
            This is effectively the same as starting over from scratch.
            <strong>This action cannot be undone!</strong>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action waves-effect waves-blue btn-flat red white-text" id="confirmDeleteBin">Delete</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat ">Cancel</a>
    </div>
</div>