<div id="tabSettingsDatabase" class="col s12 settings-page">
    <div class="row">
        <div class="col s6 settings-border-right center-align">
            <a class="waves-effect waves-light btn red white-text btn-top-margin"><i class="mdi-action-delete left"></i>Remove All Products</a>
        </div>
        <div class="col s6">
            <p class="flow-text">Removes all products from the applications inventory</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s6 settings-border-right center-align">
            <a class="waves-effect waves-light btn red white-text btn-top-margin"><i class="mdi-action-delete left"></i>Remove All Bins</a>
        </div>
        <div class="col s6">
            <p class="flow-text">Removes all bins from the applications inventory</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s6 settings-border-right center-align">
            <a class="waves-effect waves-light btn red white-text btn-top-margin"><i class="mdi-action-delete left"></i>Reset Settings</a>
        </div>
        <div class="col s6">
            <p class="flow-text">Resets all application settings to their defaults</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s6 settings-border-right center-align">
            <a id="btnDeleteDatabase" class="waves-effect waves-light btn red white-text btn-top-margin"><i class="mdi-action-delete left"></i>Reset Everything</a>
        </div>
        <div class="col s6">
            <p class="flow-text">Removes <strong>all</strong> application data, resetting everything</p>
        </div>
    </div>
</div>