<div id="tabImportExport" class="col s12 settings-page">
    <div class="row">
        <div class="col s6 settings-border-right">
            <div class="file-field input-field">
                <input class="file-path validate" type="text"/>
                <div class="btn">
                    <span>File</span>
                    <input type="file" />
                </div>
            </div>
            <a class="waves-effect waves-light btn light-blue"><i class="mdi-file-file-upload left"></i>Import</a>
        </div>
        <div class="col s6">
            Explanation
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s6 settings-border-right">
            <a id="btnExportData" class="waves-effect waves-light btn light-blue"><i class="mdi-file-file-download left"></i>Export</a>
        </div>
        <div class="col s6">
            Explanation
        </div>
    </div>
</div>